{% extends 'layout/pages/search/base.html' %}

{% block title %}AdminLTE 3 | Simple Search Form{% endblock title %}

{% block content %}
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  {% include 'partials/_navbar.html' %}

  <!-- Main Sidebar Container -->
  {% include 'partials/_main-sidebar.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <h2 class="text-center display-4">Search</h2>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form action="{% url 'search_simple-results' %}">
                        <div class="input-group">
                            <input type="search" class="form-control form-control-lg" placeholder="Type your keywords here">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-lg btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
  </div>

  <!-- Main Footer -->
  {% include 'partials/_main-footer.html' %}

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

{% include 'partials/pages/_scripts.html' %}
</body>
{% endblock content %}